* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Harmattan';
  src: url(../fonts/Harmattan-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Harmattan';
  src: url(../fonts/Harmattan-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Harmattan', sans-serif;
  background-color: #0c0c0b;
  color: #fff;
}

.navbar-wrap {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  letter-spacing: -2.5px;
  display: block;
}

.nav {
  list-style-type: none;
  display: flex;
}

.nav li {
  margin-right: 2.5vw;
}

.nav li:hover .nav__links:before {
  transform: translateX(100%);
}

.nav__links {
  display: block;
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 25px;
  transition: all .2s linear;
  overflow: hidden;
}

.nav__links:last-child {
  margin-right: 0;
}

.nav__links:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, #0b0b0d 5%, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.8) 95%, #0b0b0d);
  transform: translateX(-100%);
  backface-visibility: hidden;
  transform-origin: left;
  transition: all .2s linear;
}

.nav__links:hover {
  opacity: .6;
}

.intro {
  min-height: calc( 100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__title {
  line-height: 0.8;
  letter-spacing: -7px;
  font-size: 11rem;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  text-align: center;
}

.intro .scroll {
  height: 9.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: .625rem;
  display: flex;
  justify-content: center;
  transform: translate(-50%, 50%);
  overflow: hidden;
  cursor: pointer;
}

.intro .scroll__line {
  width: 1px;
  height: 100%;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 0.995);
  transform: translateY(0);
}

.intro .scroll__line::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #fff;
  opacity: .5;
}

.intro .scroll__line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #fff;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) infinite forwards;
}

@keyframes scrolldown {
  0% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.hero {
  position: relative;
  padding-top: 400px;
}

.hero__wrap {
  display: flex;
}

.hero__content {
  width: 50%;
  max-width: 500px;
}

.hero__content-title {
  font-size: 4.5rem;
  line-height: 0.9;
  margin-bottom: 2.5rem;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.hero__content-text {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.8;
  margin-bottom: 2rem;
}

.hero__content-info {
  position: relative;
  padding: .75rem 1.875rem .25rem 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity .3s linear;
  color: #ffffff;
}

.hero__content-info:hover {
  opacity: .5;
}

.hero__content-info:hover .hero__arrow.hover {
  opacity: 1;
  transform: translateX(100%);
}

.hero__content-info:hover .hero__arrow.normal {
  opacity: 0;
  transform: translate(100%);
}

.hero__content-info:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.hero__content-info::before, .hero__content-info::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  content: "";
  background-color: #fff;
}

.hero__content-info::before {
  opacity: .5;
}

.hero__content-info::after {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform-origin: right center;
  transform: scaleX(0);
}

.hero__arrow {
  width: 12px;
  height: 11px;
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.hero__arrow.normal {
  position: absolute;
  top: 45%;
  right: 2%;
}

.hero__arrow.hover {
  position: absolute;
  top: 45%;
  right: 8%;
  opacity: 0;
  transform: translate(-8%, -1%);
}

.hero__image {
  width: 42%;
  background-image: url(../img/img-01.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 204px;
  bottom: 0;
  z-index: 1;
  height: 700px;
}

.sidebar {
  position: fixed;
  z-index: 10;
  top: 72px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.sidebar:hover .sidebar__button {
  transform: translateX(100%);
  opacity: 0;
  transition-delay: 0;
}

.sidebar:hover .sidebar__list-item {
  transform: translateX(0);
  opacity: 1;
}

.sidebar__button {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 26px;
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transition-delay: .2s;
}

.sidebar__button::before, .sidebar__button::after {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  content: "";
  left: 50%;
  margin-left: -3px;
}

.sidebar__button::before {
  top: 0;
}

.sidebar__button::after {
  bottom: 0;
}

.sidebar__label {
  position: absolute;
  right: 100%;
  top: 55%;
  white-space: nowrap;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  opacity: 0;
  text-transform: uppercase;
  font-size: .875rem;
}

.sidebar__dot {
  display: inline-block;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transition: opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  opacity: .4;
}

.sidebar__link {
  overflow: visible;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: none transparent;
  color: inherit;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  display: flex;
  position: relative;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.sidebar__link:hover .sidebar__dot {
  opacity: 1;
}

.sidebar__link:hover .sidebar__label {
  opacity: 1;
  transform: translate(0.9375rem, -50%);
}

.sidebar__list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.sidebar__list-item {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform: translateX(100%);
  opacity: 0;
}

.sidebar__list-item:first-child {
  transition-delay: .05s;
}

.sidebar__list-item:nth-child(2) {
  transition-delay: .1s;
}

.sidebar__list-item:nth-child(3) {
  transition-delay: .15s;
}

.sidebar__list-item:nth-child(4) {
  transition-delay: .2s;
}

.sidebar__list-item:nth-child(5) {
  transition-delay: .25s;
}

.sidebar__list-item:last-child {
  transition-delay: .3s;
}

.blur {
  padding-top: 450px;
  display: flex;
  justify-content: center;
}

.blur__title {
  font-size: 4.5rem;
  letter-spacing: -2px;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.blur__title-text {
  animation: blurText 3s 0s infinite;
  display: inline-block;
  position: relative;
}

.blur__title-text.delay {
  animation: blurTextReverse 3s infinite;
}

@keyframes blurText {
  0% {
    text-shadow: 0 0 20px #fff;
  }
  50% {
    text-shadow: 0 0 0 #fff;
  }
  to {
    text-shadow: 0 0 20px #fff;
  }
}

@keyframes blurTextReverse {
  0% {
    text-shadow: 0 0 0 #fff;
  }
  50% {
    text-shadow: 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 0 #fff;
  }
}

.footer {
  padding-top: 15rem;
}

.footer__title {
  line-height: 0.8;
  font-size: 4rem;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  text-align: center;
}

.footer__email {
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.footer__email::before, .footer__email::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  content: "";
  background-color: #fff;
}

.footer__email::before {
  opacity: .5;
}

.footer__email::after {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform-origin: right center;
  transform: scaleX(0);
}

.footer__email:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.footer__email:hover {
  opacity: .5;
}

.footer .rail {
  position: relative;
  margin-top: 80px;
}

.footer .rail__wrap {
  display: flex;
  white-space: nowrap;
  position: relative;
  font-size: 0;
  overflow: hidden;
  opacity: .5;
}

.footer .rail__item {
  display: inline-block;
  padding: 10px 0;
  animation: railStatic 15s linear infinite;
}

.footer .rail__item-label {
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  padding-right: 6.25rem;
  line-height: 1;
  font-size: 16rem;
  font-weight: 700;
  display: inline-block;
}

.footer__arrow {
  width: 12px;
  height: 11px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.footer__social-link {
  display: inline-block;
  position: relative;
  padding: .5rem 1.4rem .5rem 0;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.footer__social-link:hover {
  opacity: .6;
}

.footer__social-link:hover .footer__social-label::before {
  transform-origin: left center;
  transform: scaleX(1);
}

.footer__social-link:hover .footer__arrow.normal {
  opacity: 0;
  transform: translate(100%);
}

.footer__social-link:hover .footer__arrow.hover {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.footer__social-label {
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  display: inline-block;
}

.footer__social-label::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  content: "";
  background-color: #fff;
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform-origin: right center;
  transform: scaleX(0);
}

.footer__social-item {
  margin-right: 3rem;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.footer__arrow {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.footer__arrow.normal {
  position: relative;
}

.footer__arrow.hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  opacity: 0;
}

@keyframes railStatic {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.recruit {
  margin-top: 19rem;
  background-image: url(../img/recruit-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.recruit__wrap {
  padding: 10rem 0;
  display: flex;
  align-items: center;
}

.recruit__left {
  width: 50%;
  padding: 7.8125vw 6.25vw 6.953125vw;
  background: #0b0b0d;
}

.recruit__right {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  max-width: 340px;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

.recruit__right-highletter {
  font-size: 3.9rem;
}

.recruit__content-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.recruit__content-subtitle {
  margin: 1.4rem 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.recruit__content-text {
  font-weight: 500;
  font-size: 1.1rem;
  opacity: .6;
  margin-bottom: 3rem;
}

.recruit__content-connect {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding: 0 0 0.4rem;
  font-weight: 500;
  font-family: proxima-nova,sans-serif;
  font-size: 1.1rem;
  transition: opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.recruit__content-connect::before, .recruit__content-connect::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  content: "";
  background-color: #fff;
}

.recruit__content-connect::before {
  opacity: .5;
}

.recruit__content-connect::after {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform-origin: right center;
  transform: scaleX(0);
}

.recruit__content-connect:hover {
  opacity: .6;
}

.recruit__content-connect:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}

@media (min-width: 1441px) {
  .recruit {
    background-image: none;
  }
  .recruit__wrap {
    background-image: url(../img/recruit-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.abstract__wrap {
  margin-top: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abstract__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: rotating 10s linear infinite;
}

.abstract__img {
  width: 600px;
  height: 600px;
}

.abstract__content {
  max-width: 750px;
  text-align: center;
}

.abstract__text {
  font-size: 5rem;
  line-height: 0.9;
  letter-spacing: -0.1rem;
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin-bottom: 2.5rem;
}

.abstract__link {
  text-decoration: none;
  position: relative;
}

.abstract__link:hover .abstract__arrow.hover {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.abstract__link:hover .abstract__arrow.normal {
  opacity: 0;
  transform: translate(100%);
}

.abstract__inview {
  position: relative;
  padding: .75rem 1.875rem .25rem 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity .3s linear;
  color: #ffffff;
}

.abstract__inview::after, .abstract__inview::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  content: "";
  background-color: #fff;
}

.abstract__inview::before {
  opacity: .5;
}

.abstract__inview::after {
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform-origin: right center;
  transform: scaleX(0);
}

.abstract__inview:hover {
  opacity: .5;
}

.abstract__inview:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.abstract__arrow {
  width: 12px;
  height: 11px;
  transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.abstract__arrow.normal {
  position: relative;
}

.abstract__arrow.hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-150%, -50%);
  opacity: 0;
}

.abstract__arrow-group {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.background__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.background__video-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.background__video-wrapper {
  height: 100%;
}

.main {
  margin-top: 10rem;
  padding-bottom: 5rem;
  overflow-x: hidden;
}

.main__wrap {
  list-style: none;
  font-size: 0;
}

.main__wrap-left {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  width: 50%;
}

.main__wrap-title {
  background: linear-gradient(145deg, #ffdbf1, #daf4f2 32%, #7dccf0 74%, #2013bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-size: 5rem;
  line-height: 0.8;
  max-width: 700px;
}

.main__wrap-right {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  width: 50%;
  text-align: center;
}

.main__wrap-content {
  width: 50%;
  position: relative;
  display: inline-block;
}

.main__wrap-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: rotating 10s linear infinite;
}

.main__wrap-year {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.carousel {
  display: flex;
  position: relative;
  margin-top: 6rem;
}

.carousel__item {
  background-color: #2b3147;
  height: 27rem;
  width: 374px;
  color: #b5a8dd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 1.875rem;
  transition: color 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95), background 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  margin-right: 20px;
}

.carousel__item:hover .carousel__item-bg {
  opacity: .5;
  transform: scale(1);
}

.carousel__item:hover .carousel__item-rail {
  opacity: .5;
  transform: translateY(0);
}

.carousel__item-bottom {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  line-height: .9;
}

.carousel__item-top {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.carousel__item-top-bignumber {
  font-size: 10.5rem;
  letter-spacing: -10px;
}

.carousel__item-top-smallnumber {
  font-size: 1.9rem;
}

.carousel__item-rail {
  position: relative;
  overflow: hidden;
  transition: opacity 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95), transform 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  opacity: 0;
  transform: translateY(100%);
}

.carousel__item-rail-content {
  display: inline-block;
  position: relative;
  animation: railStatic 12s linear infinite;
}

.carousel__item-rail-content-label {
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  color: #b5a8dd;
  padding-right: 4rem;
  font-size: 4rem;
}

.carousel__item-center {
  white-space: nowrap;
  font-size: 0;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  transform: translateY(90%);
  overflow: hidden;
}

.carousel__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95), opacity 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95);
  transform: scale(1.15) rotate(-5deg);
}

.carousel__left {
  width: 33.333333333%;
}

.carousel__left-text {
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.carousel__right {
  cursor: grab;
  width: 66.66666667%;
}
/*# sourceMappingURL=style.css.map */